@font-face {
    font-family: vazirB;
    src: url(../fonts/Ubuntu-Regular.ttf);
}
.font-vairR{
    font-family: vazirB;;
}
 .box-items{


    width: 100%;
    display: flex;
    flex-direction: column;
    height: 45%;
    justify-content: space-between;
 }   
 .cart-service{
    display: flex;
justify-content: space-between;
    /* display: flex; */
    border: 1px solid #c0c0c040;
    padding: 16px;
    border-radius: 8px;
    flex-wrap: wrap;
    transition: .4s;
    align-items: center;
 }
 .tille-service{
    display: flex;
    justify-content: space-between;
    width: 55%;
 }
 .tille-service > div h3{
    color: #02295a;
    font-size: 17px;
 }
 .tille-service > div h5{
    font-size: 13px;
    font-weight: 400;
    width: 20vh;
    color: hsl(231, 11%, 63%);
    font-family: vazirB;
 }
 .tille-service input {
    width: 1rem;
 }
.price-service p{
    font-family: vazirB;
    font-size: 14px;
    color:#0d00ff;
    font-weight: bolder;
}
.selcet-activ{
   background: #8b88c21c;
   border: 1px solid #483eff;
}

.container-ch{
   display: block;
   position: relative;
   padding-left: 35px;
   margin-bottom: 12px;
   cursor: pointer;
   font-size: 22px;
   transition: .4s;
   user-select: none;
}
.container-ch .isCHeck{
   position: absolute;
    opacity: 0;
   cursor: pointer;
   height: 25px;
z-index: 8;
   top: 0;
   width: 25px;
   transition: .4s;
   left: 0;
}
.checkmark{
   position: absolute;
   top: 0;
   border-radius: 5px;
   transition: .4s;
   left: 0;
   height: 25px;
   width: 25px;
   background-color: transparent;
   border: 1px solid #c0c0c08f;
}
.container-ch:hover .isCHeck  .checkmark{
   background-color: red;
   transition: .4s;

}


.checkmark:after{
   content: "";
   position: absolute;
   transition: .4s;
   display: none;
}

.container-ch .checkmark:after{
   left: 9px;
   top: 5px;
   width: 5px;
   height: 10px;
   transition: .4s;
   border: solid white;
   border-width: 0 3px 3px 0;
   transform: rotate(45deg);
}
.container-ch  .isCHeck:checked ~ .checkmark:after{
   display: block;
   transition: .4s;
}
.container-ch  .isCHeck:checked ~ .checkmark  {
   background-color: #0d00ff;
   transition: .4s;
}
